CONNECTOR_MODE=auto
PUBLIC_DATA_SERVICE_KEY=
AIRPORT_CONGESTION_URL=https://apis.data.go.kr/B551177/statusOfDepartureCongestion/getDepartureCongestion
AIRPORT_PARKING_URL=http://apis.data.go.kr/B551177/StatusOfParking/getTrackingParking
AIRPORT_FLIGHTS_URL=http://apis.data.go.kr/B551177/StatusOfPassengerFlightsOdp/getPassengerDeparturesOdp
AIRPORT_AMENITIES_URL=http://apis.data.go.kr/B551177/StatusOfFacility/getFacilityKR
AIRPORT_WALKING_URL=https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002316651&fileDetailSn=1&insertDataPrcus=N
AIRPORT_WEATHER_URL=
ITS_API_KEY=test
TRAFFIC_API_URL=https://openapi.its.go.kr:9443/trafficInfo
KMA_WEATHER_URL=http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst
